@import '../../../theme/variables.scss';
.article-form {
	min-height: 100vh;
	background-color: $iron;	
	.container {
		max-width: 750px;
		
		.panel-body {
			padding: 16px;
			background-color: $white;
			border-radius: 5px;

		}
		#article-body {
			height: 375px;
		}
		.preview {
			width: 200px;
			height: 200px;
		}
	}
}
